body {
  margin: 0;
  height: 100vh; /* Ensure the body takes the full viewport height */
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex: 1; /* Allow it to grow and take the remaining space */
  overflow: hidden; /* Prevent scrolling caused by overflowing content */
}

.inspection-container {
  display: flex;
  flex-direction: row;
  flex: 1; /* Allow it to grow and take the remaining space */
  max-width: 100%;
  margin: 0 auto;
  padding: 0; /* Remove extra padding */
  box-sizing: border-box;
  background-color: #ffffff;
  overflow: hidden; /* Prevent scrolling caused by overflowing content */
}
    
.camera-screen {
  flex-shrink: 0;
  width: 100%;
  max-width: 450px;
  aspect-ratio: 1 / 1; /* Maintain a square shape */
  max-height: 100%; /* Prevent it from exceeding the available height */
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  background-color: #0F1D9F;
  display: flex;
  align-items: center;
  justify-content: center;
}
    
.camera-screen video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-information {
    flex: 1;
}

.item-information h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.item-information p {
    margin: 10px 0;
    font-size: 16px;
    margin-top: 20px;
}

.condition-buttons {
    margin-top: 15px;
}

.condition-buttons button {
    margin-right: 10px;
    padding: 10px 50px;
    border: none;
    border-radius: 50px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.condition-buttons button:hover {
    background-color: #0056b3;
}

.custom-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.overlay-content {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.open-overlay-btn {
  margin-top: 1rem;
  background-color: #0F1D9F;
  color: white;
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}